.button {
  background-color: transparent;
  border: 1.5px solid #000;
  border-radius: 118px;
  font-weight: 700;
  transition: all 0.5s;
  padding: 20px 32px;
  &:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
}
.button-small {
  padding: 12px 24px;
}
button-primary {
  background-color: #ad343e;
  color: #fff;
  border-color: #ad343e;
  &:hover {
    background-color: transparent;
    color: #ad343e;
    cursor: pointer;
  }
}
