.content {
    .container {
        display: flex;
        align-items: center;
        gap: 90px;
    }
    .content-images {
        display: inline-grid;
        grid-template-columns: 430px 24px 290px;
        grid-template-rows: 30px 1fr 24px 1fr 30px;
        img {
            &:first-child {
                grid-row: 1 / 5;

            }
            &:nth-child(2) {
                grid-column: 3 / 5;
                grid-row: 2 / 3;

            }
            &:nth-child(3) {
                grid-column: 3 / 5;
                grid-row: 4 / 5;

            }
    }

        }
        .content-data {
            .secondary-title {
                margin-block-end: 20px;

            }
            p {
                margin-block-end: 50px;

            }
            .item {
                display: flex;
                align-items: center;
                gap: 20px;
                &:not(:last-child) {
                    margin-block-end: 20px;
                }
            }
            img {
                background-color: #ad343e;
                border-radius: 50%;
                padding: 5px;
            }
            span {
                font-size: 20px;
                font-weight: 500;
            }
        }


}