
  .header .top-bar {
    background-color: #474747;
    padding: 9px 0;
    color:#fff
  }
  .header .top-bar a {
    color: white
  }
  .header .top-bar img {
    display: inline-block;
  }
  .header .contact-info,
  .header .social-networks ul {
    display: flex;
    align-items: center;
    gap: 4px;
  
  }
  .header .social-networks img {
    background-color: rgb(249 249 247 / .12);
    padding: 5px;
    border-radius: 50%;
    height: 27px;
    width: 27px;
  }
  .header .contact-info {
    gap: 25px;
  }
  .header .social-networks ul {
    gap: 4px;
  }
  