/* start reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET CSS*/

/* empieza Header */
:root {
	--font-primary: "DM Sans", sans-serif;
	--font-title: "Playfair Display", sans-serif;
  }
  html {
	font-family: var(--font-primary);
}  
.header {
	.top-bar {
	  background-color: #474747;
	  padding: 9px 0;
	  color: #fff;
	  height: 45.17px;
	  a {
		color: white;
	  }
	  img {
		display: inline-block;
	  }
	}
	.main-menu {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  padding-block: 2rem;
	  .button-primary {
		background-color: #ad343e;
		color: #fff;
		border-color: #ad343e;
		&:hover {
		  background-color: transparent;
		  color: #ad343e;
		  cursor: pointer;
		}
	  }
	}

	.contact-info {
	  gap: 1.6rem;
	}
	.container {
		max-width: 82rem;
		margin: 0 auto;
	  }
	  .d-flex {
		display: flex;
		justify-content: space-between;
		

	.social-networks {
	  img {
		background-color: rgb(249 249 247 / 0.12);
		padding: 5px;
		border-radius: 50%;
		height: 2rem;
		width: 2rem;
		}
	  
	}
  
	.contact-info,
	.social-networks ul {
	  display: flex;
	  align-items: center;
	  gap: 4px;
	}
  
	.main-menu .container {
	  
	  nav.menu ul {
		display: flex;
		align-items: center;
		gap: 2.5rem;
		li {
		  padding: 4px 16px;
		  border-radius: 34%;
		  background-color: transparent;
		  transition: background-color 0.5s;
		  font-weight: 500;
		  &:hover {
			background-color: #dbdfd0;
		  }
		}
	  }
	  .button {
		background-color: transparent;
		border: 1.5px solid #000;
		border-radius: 118px;
		font-weight: 700;
		transition: all 0.5s;
		padding: 20px 32px;
		&:hover {
		  background-color: #000;
		  color: #fff;
		  cursor: pointer;
		}
	  }
	  
	  
	}
  }
}
.home-menu {
	display: flex;
	align-items: center;
	
}
/* termina header */

/* empieza main */

.main {
	.first-image {
		.secondary-title {
			font-family: "Playfair Display";
            font-size: 3.5rem;
            font-style: normal;
            font-weight: 500;
			text-align: center;

		}
		.cheescake {
			display: flex;
			justify-content: center;
		}
		

	}
	article.ingredients{
		display: flex;
	}
	}
	.ingredients-recipe {
		font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
		.ingredientes {
			font-size: 55px;
            font-style: normal;
            font-weight: 500;
            line-height: 60.5px;
		}
		font-family: Arial, sans-serif;
		margin-top: 20px;
	    .secondary-title {
			font-family: "Playfair Display";
            font-size: 55px;
            font-style: normal;
            font-weight: 500;
            line-height: 4rem; 

    .instructions {
		display: flex;
		background-color: green;
	}

		}
		.ingredients-recipe{
			max-width: 19rem;
		}
		
		.secondary-title {
			font-size: 28px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		
		h2 {
			font-size: 18px;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		
		.custom-checkbox {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			font-size: 16px;
		}
		
		.custom-checkbox input[type="checkbox"] {
			display: none;
		}
		
		.custom-checkbox span {
			margin-left: 10px;
		}
		
		.custom-checkbox input[type="checkbox"] + span::before {
			content: "";
			display: inline-block;
			width: 20px;
			height: 20px;
			border: 2px solid #A52A2A; 
			border-radius: 50%;
			margin-right: 10px;
		}
		
		.custom-checkbox input[type="checkbox"]:checked + span::before {
			background-color: #A52A2A; 
			color: white;
			font-size: 14px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.text {
			color: var(--Secondary, #182226);
            font-family: "DM Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.6px;
			gap: 22.46px;


		}

	}
	.contents .articles {
		display: flex;
		align-items: center;
		padding: 213px 152px 154px 152px;
		gap:24px;
		h2 {
			padding: 52px;
			text-align: start;
		}
		.read-articles {
			font-family: "Playfair Display";
            font-size: 55px;
            font-style: normal;
            font-weight: 500;
            line-height: 60.5px;
		}
	}.read-articles {
		font-family: "Playfair Display";
		font-size: 55px;
		font-style: normal;
		font-weight: 500;
		line-height: 60.5px;
		text-align: center;
		padding: 88px 0px 4px;
	}
	.text {
		text-align: center;
	}

	


   
/* acaba main */

/* empieza footer */
.footer {
    background-color: #474747;
    padding-block: 88px;
    .lists {
        display: flex;
        justify-content: space-between;
        margin-block: 100px;
        border-block-end: 1px solid #414536;
       .list-item {
            flex: 0 1 33.33333%;
            .first-column {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .container-logo {
                    .main-title {
                        color: #fff;
                    }
                }
               
                p {
                    color: #adb29e;
                    font-family: var(--font-primary);
                    line-height: 1.5;
                    max-inline-size: 290px;
                    font-weight: 400;
                }
                ul {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    img {
                        background-color: #ad343e;
                        padding: 8px;
                        border-radius: 50%;
                        aspect-ratio: 1;
                        width: 35px;
                    }
                } 
                
            }
            p {
                color: #f9f9f7;
                font-family: var(--font-primary);
                font-weight: 700;
                line-height: 1.5;
                margin-block-end: 40px;
            }
            &.grid-column ul {
                display: grid;
                grid-template-columns: 1fr 1fr ;
                gap: 15px;
                overflow: hidden;
                img {
                    border-radius: 12%;
                }
            }
        }
        .list-menu {
            display: flex;
            gap: 60px;
            flex-grow: 1;
            .list-item  {
               ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    a {
                        color: #dbdfdb;
                        font-family: var(--font-primary);
                        line-height: 1.5;
                    }
                }
                &:last-child {
                    flex-grow: 1;
                }
            }
        }  
    }
    .copyright {
        color: var(--Neutral-40, #adb29e);
        font-family: var(--font-primary);
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        margin-inline-start: 30px;
        }
    .container-logo {
        display: flex;
        align-items: center;
    }
}        
    
/* termina footer */
