html {
    font-family: var(--font-primary);
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
    justify-content: space-between
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    margin: 0;
}
.container-padding {
    padding-block: 120px;
}
.secondary-title {
    font-size: 55px;
    font-weight: 500;
}
.bg-color {
    background-color: #f9f9f7;

}